@font-face {
    font-family: 'after_shokregular';
    src: url('fonts/after_shok-webfont.woff2') format('woff2'),
         url('fonts/after_shok-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#header {
    font-size: 50px;
    font-family: after_shokregular, Georgia, "Times New Roman", serif;
    text-align: center;
    margin: 0px;
    padding: 10px;
    color: #3f22a7;
    text-shadow: 5px 5px 5px #3f22a76b;
}

#header a {
    text-decoration: none;
    color: #3f22a7;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    margin-top: 40px;
    font-size: 30px;
}

p, ul, ol {
    font-size: 20px;
}

h1, h2, h3, h4, p, ul, ol {
    font-family: 'Times New Roman', Times, serif;
}

#recepies-list {
    margin-top: 100px;
    font-size: 30px;
    text-indent: 10px;
    line-height: 2;
}

#recepies-list a {
    text-decoration: none;
}

#recepies-list a:hover {
    color: violet;
    position: absolute;
    font-size: 110%;
    text-indent: 0px;
}

img {
    width: auto;
    height: 400px;
    border-radius: 10%;
    box-shadow: 10px 10px 10px gray;
    display: block;
    margin: auto;
}

body {
    width: 900px;
    margin: 30px auto;
}

html {
    background-color: mintcream;
}